*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("img/img.jpg");
}
.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.form{
    background-color: rgba(218, 211, 211, 0.318);
    color: rgb(14, 157, 14);
    height: 70vh;
    width: 35vw;
    margin: 10vh 3vw 0 0;
}
.inputs{
    margin: 5vh 3vw;
}
label{
    margin-bottom: 2vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
}
input[type=number]{
    width: 12vw;
    padding: 10px;
    background-color: rgba(62, 60, 60, 0.153);
    color: rgb(14, 157, 14);
}
input[type=submit]{
    width: 12vw;
    padding: 1vh 4vw;
    cursor: pointer;
    color: green;
    background-color:black;
    border: none;
    border-radius: 5px;
    box-shadow: inset;
}
#result{
    margin-top: 10vh;
    border: 1px solid green;
    border-radius: 5px;
    background-color: black;
    color: rgb(5, 77, 5);
    display: none;
    padding: 1vh 2vw;
}